.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
}

.grid-container img {
  width: 100%;
  height: auto;
  display: block;
}


@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
